<!DOCTYPE html>
<html>
	<head>
		<title>add packages</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a  class="navbar-brand" href="#">TourimManagemnt</a>
			</div>
			<ul class="nav navbar-nav">
				<li ><a class="active" href="{% url 'index' %}">home</a></li>
				{% if user.is_authenticated %}
					
					<li><a href=" {% url 'logout' %}">LOGOUT</a></li>
					<li><a href=" {% url 'packages' %}">PACKAGES</a></li>
				{% else %}
					
					<li><a href=" {% url 'login' %}">LOGIN</a></li>
					<li><a href=" {% url 'register' %}">REGISTER</a></li>
				{% endif %}
				
				<label for="addpackages_packagename">PACKAGE</label>
				<label for="addpackages_packagename">PACKAGE NO</label>
				<form method="POST" >
					{% csrf_token %}
					<input type="text" id ="addpackages_packagename" name="addpackages_packagename" >
					
					<input type="number" id ="addpackages_packagename" name="addpackages_packagename" >
					<button type="submit">ENTER</button>
				</form>
			</body>
		</html>